
.main{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 1.4em;
  
}

.main__div{
    display: flex;
    justify-content: space-between;
  

    align-items:center;
    z-index: -2;
      
   
}
.main__table{
    border-collapse: collapse;  
    margin:2rem;
    overflow: scroll;
  
   
     
}
.main__aside{
    display:flex;
    flex-direction:column;
    
    width:50%;
    padding-right:3rem;
    margin:2rem;
}.main__table__heading{
    background-color: rgb(97, 97, 236);
     padding: 1rem;
   

}
.main__body__elements{
    padding: 0.5rem;
    
   border-bottom: 1px solid blue;
}
.main__table__detail:last-of-type{

     border-bottom: 3px solid blue;
}
.main__table__detail:nth-of-type(2n){
    background-color: rgb(224, 224, 231);
}
.main__aside{
    background-color: rgb(221, 221, 235);
    border-radius: 5px;
    align-items: center;
     background: linear-gradient(135deg,rgba(255,255,255,0),rgba(255,255,255,0));
    border-radius: 20px;
     backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow:0px 22px 32px 0px rgba(56, 32, 187, 0.37) ;
    padding:24px;

    
}
.main__aside__list{
    list-style-type:square;
    
}

   

@media screen and (max-width:700px) {
  .main__div{
      flex-direction:column;
  }  
  .main__heading{
      margin-top: 4rem;
  }
  .main__heading__elements:nth-of-type(3){
      display: none;
  }
  .main__body__elements:nth-of-type(3n){
       display: none;

  }

}